# dependencies and venv
Scripts
Lib
Include
ffmpeg.exe
ffplay.exe
ffprobe.exe

# .vscode
.vscode

# cache
**/__pycache__

# logs
**/logs

# songs
**/songs

# converted songs output
output

# convert logs
convert_logs